<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<meta charset="utf-8">
	<title>About meeeeee</title>
</head>
<body>
	<div class="main-content">
		{{>header}}

		<p>Site created by rojas as a playground to learn node js. It uses data from mapbox.com and weatherstack.</p>

		<img class="portrait" src="/img/bunny.jpg"> <br>
		{{name}} is enjoying this weather i hope
	</div>

	{{>footer}}
</body>
</html>