<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<meta charset="utf-8">
	<title>I need somebody</title>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<br>
		<h2>Me ajuda com {{paragraph}}</h2>
	</div>

	{{>footer}}
</body>
</html>